# Gateway
GATEWAY_URL=http://localhost:3000
GATEWAY_API_KEY=key-workflow-module

# EventBus
EVENT_BUS_TYPE=inmemory   # inmemory | kafka

# Bull / Redis (for jobbkø)
REDIS_URL=redis://localhost:6379

# Workflow
WORKFLOW_PORT=3002
NODE_ENV=development
